body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
.blok{
    position:fixed ;
    padding:10px;
    background-color:#850AE5 ;
    top:400px;
    right:10px ;
    
    border-radius:29px ;
    
}
.mount{
    position:obsolute ;
    
    
}
nav a:hover{
color: cyan ;
}
.nav a:focus{
    background-color:blue ;
}
.button:hover{
background-color:red ;
}
.post {
    background-color:black ;
     ;
    border-radius:30px ;
}
body{
    background-color:white ;
}
h2{
    color:cyan ;
}
nav{
    background-color:black ;
}
 img{
    border:5px solid cyan ;
   border-radius:30px ;
}
h1{
    color:cyan ;
}
p{
    color: cyan;
}
.nav-link:hover{
    border: 2px solid cyan;
    border-radius: 5px ;
    padding:1px;
}
.button:hover{
      box-shadow: 3px 5px 5px 0 orange;
       transition:1s  linear;
    background-color: black;
    color: cyan;
}
footer{
    color:red ;
    background-color:cyan ;
}
.hober{
    color: purple;
}
  .hober2{
      color: purple;
      
  }  
  .hober3{
color: purple;
  }
.contacts{
    color: purple;
}
.footer-text{
    color: purple;
}
.article-but:hover{
 color:black;
}
.logo{
    width: 550px;
   height:200px ; 
  box-shadow: 15px 15px 5px 0 orange;
}
.nav-link:hover{
box-shadow: 5px 5px 5px 0 orange; 
 transition:1s  linear;

}
.article-but:hover{
   box-shadow: 5px 5px 5px 0 orange;  
    transition:1s  linear;
}
 
.silka{
    border-color:cyan; 
    
    text-decoration:none ;
 }
.djpdhfn{
    color: purple;
}
.class{
    color:purple;
}
.pfujkjdjr{
    color: purple;
}
